/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

h1 {
  color: #333;
}

/* Flex container for header (datetime and button) */
#header-container {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Vertically centers items */
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  margin-bottom: 20px; /* Adds space below the header */
}

/* Styling for the datetime */
#datetime {
  font-size: 1.2em;
  color: #333;
  margin: 0; /* Removes default margin */
}

/* Grid container for sensor charts */
#sensor-charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(1, auto); /* 1 row */
  gap: 20px; /* Adjust gap between charts */
  margin-right: 18px;
}

/* Grid container for container charts */
#container-charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 20px; /* Adjust gap between charts */
  margin-right: 1px;
}

/* Common styling for chart containers */
.chart-container {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 40%;
}

/* Styling for titles in chart containers */
.chart-container h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2em;
}

label {
  margin-right: 15px;
  font-family: Arial, sans-serif;
}

.hidden {
  display: none !important;
}

.div-toggles {
  margin-bottom: 10px;
}

.grid-container {
  display: flex; /* Changed from grid to flex for better responsiveness */
  gap: 10px; /* Optional: Add spacing between grid items */
  align-items: center; /* Center content vertically */
  margin-bottom: 10px;
}

.grid-title {
  font-weight: bold;
  text-align: right;
  padding-right: 10px; /* Optional: Space between title and checkboxes */
}

/* Download Button Styling */
#download-buttons {
  display: flex;
  gap: 10px; /* Space between buttons, though now only one button exists */
}

#download-buttons button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#download-buttons button:hover {
  background-color: #45a049;
}

/* Disabled Button Styling */
#download-buttons button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  #header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #download-buttons {
    margin-top: 10px;
  }
}
